<%- model_class = Educacao -%>



<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:diretor) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:contato) %></th>
      <th><%= model_class.human_attribute_name(:tipo) %></th>
      <th colspan=3 style="text-align: center;"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @educacaos.each do |educacao| %>
      <tr>
        <td><%= educacao.id%></td>
        <td><%= educacao.nome %></td>
        <td><%= educacao.diretor %></td>
        <td><%= educacao.email.downcase %></td>
        <td><%= educacao.contato %></td>
        <td><%= educacao.tipo %></td>
        <td style="text-align: center;"><%= link_to '', educacao, :class => 'icon-search', :title => 'Visualizar' %></td>
        <td style="text-align: center;"><%= link_to '', edit_educacao_path(educacao), :class => 'icon-pencil', :id => educacao.id,:title => 'Editar' %></td>
        <td style="text-align: center;"><%= link_to '', educacao, :class => 'icon-trash', :method => :delete, :data => { :confirm => 'Are you sure?' }, :title => 'Apagar' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--%= will_paginate @educacaos, :renderer => BootstrapPagination::Rails, :class => 'pagination pagination-centered' %-->

<!--http://stackoverflow.com/questions/20851955/open-a-bootstrap-modal-to-edit-a-record-in-ruby-on-rails -->


